.parent{
    border: solid gray;
    height: 700px;
  
  
    display: flex; /*adjust according to display size */
    justify-content: space-between;
   /* justify-content: space-evenly; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
/* flex-direction: column; */
/* flex-direction: row-reverse; */
flex-wrap: wrap;
align-items: center;

}
#one{
    background-color: teal;
    
     
     /* flex-basis: 400px;change the size of block */
     /* flex-grow: 1; increase its size and fill all black space */
     
} 
#two{
    background-color: rgb(94, 23, 36);
    
   flex-grow: 2;
    /* flex-grow: 2; double the size in comparison to other  */
    flex-shrink: 2000;

}
#three{
    background-color: rgb(63, 63, 219);
    
}
#four{
    background-color: rgb(146, 177, 35);
   
}
.class{
    height: 150px;
    width: 150px;
}