*{
    margin: 0px; padding: 0px;
   
}
h1{
    text-align: center;
}
.container{
    height: 700px;
    width: 800px;
    background-color: lightgrey;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
   
   justify-content: center;
   align-items: start; /* space around cross asix */
  /* align-content:center; /*it is basicaally when row is two*/
} 
.class{
height: 100px;
width: 100px;border: 2px solid black;
    margin: 5px;
}

#one {
    background-color: royalblue;

}

#two {
    background-color: tomato;
    order: ;
}

#three {
    background-color: teal;
    flex-grow: 2;
}

#four {
    background-color: yellow;

}