div{
    background-color: royalblue;
    height: 300px;
    width: 300px;
   font-size: 100px;
}
@media screen and (min-width:302px) {
    div {
        background-color: burlywood;
        border-radius: 50%;
    }
}